# APIs
VITE_IPTV_ORG_API=https://iptv-org.github.io/api
VITE_VIDEOSRC_API=https://api.videosrc.net

# App
VITE_APP_NAME=Chaîne TV + VidSrc
VITE_APP_DESCRIPTION=Regardez toutes les chaînes TV et vidéos du monde